.token-input-list li input {
    width: 100%
}

.token-input-token p {
    float: left;
    padding: 4px;
    margin: 0;
    color: #fff;
    background: #01A9DB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.token-input-token span {
    float: left;
    padding:5px;
    margin:0;
    margin-top: 4px;
    margin-right: 4px;
    cursor: pointer;
    color: #fff;
    background: #0FFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999999
}